[main]
log_file = ~/.ektobot/ektobot.log
state_file = ~/.ektobot/ektobot.json

[youtube]
client_secrets = ~/.ektobot/client_secrets.json

[reddit]
login = {{ reddit_login }}
password = {{ reddit_password }}
sub = {{ reddit_sub }}
